@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #220F80;
}

@layer base {
}
.p-tabview-panels {
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e3dcff;
  border-radius: 10px;
}


.input-style {
  @apply outline-none px-[12px] py-[6px] border border-[#694DF9] rounded-[4px] text-[#220F80] transition-colors focus:bg-[#e3dcff]/20;
}

.p-highlight {
  background-color: #e3dcff;
  color: #220F80;
}

.p-highlight .p-checkbox-box {
  background-color: #e3dcff;
}

.link-style {
  @apply px-[12px] py-[6px] bg-[#220F80] text-white rounded-[16px] transition-colors hover:text-[#220F80] hover:bg-[#e3dcff]/20;
}
